@import "../common/variables";
@import "../common/mixin";

.content-modal {
    z-index: 110;
    display: none;
    background: #000;
    @include position(fixed, 0, 0, 0, 0);
    background: #000 url("@/assets/image/bg_content_book.png") repeat center top;
    &.on {
        display: block;
    }
    &-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        height: 80px;
        padding: 20px 20px 0;
        color: #fff;
        font-size: 20px;
        background: #000;
    } //.content-modal-title
    &-box {
        position: relative;
        box-sizing: border-box;
        height: calc(100% - 66px);
        margin: 0 auto;
        margin-bottom: 100px;
        overflow-y: auto;
        @include breakpoint(tablet) {
            padding: 0 20px;
        }
        @include breakpoint(mobile) {
            padding: 0 20px;
        }
        //&::before {
        //    @include position(fixed, 66px, 0, null, 0);
        //    z-index: 10;
        //    display: block;
        //    height: 66px;
        //    background: linear-gradient(0deg, hsla(0, 0%, 7%, 0) 3%, #000 90%);
        //    content: "";
        //}
        .title {
            max-width: 614px;
            margin: 100px auto 40px;
            color: #fff;
            font-size: 30px;
            @include breakpoint(tablet) {
                margin: 60px auto 20px;
                font-size: 24px;
            }
            @include breakpoint(mobile) {
                margin: 30px auto 20px;
                font-size: 20px;
            }
        }
    } //.content-modal-box
    &-text {
        position: relative;
        max-width: 614px;
        margin: 0 auto;
        padding-bottom: 60px;
        color: #fff;
        color: #fff;
        font-size: 20px;
        line-height: 2;
        white-space: pre-line;
        word-break: keep-all;
        @include breakpoint(tablet) {
            font-size: 16px;
        }
        @include breakpoint(mobile) {
            font-size: 14px;
        }
    } //.content-modal-text
}

.modal-close {
    @include position(absolute, 20px, 20px, null, null);
    width: 30px;
    height: 30px;
    &::before,
    &::after {
        z-index: 1;
        width: 30px;
        height: 2px;
        background: #fff;
        content: "";
    }
    &::before {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
    }
    &::after {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(-45deg);
        transform: translateX(-50%) rotate(-45deg);
    }
}

.content-character {
    &-box {
        display: flex;
        &::after {
            z-index: -1;
            background: url("@/assets/image/bg_char.png") no-repeat center top;
            content: "";
            @include position(absolute, 66px, 0, 0, 0);
            @at-root .on.content-modal & {
                animation: zoomin 2s linear;
                animation-fill-mode: forwards;
                @include breakpoint(mobile) {
                    background-size: auto 300px;
                    animation: none;
                }
            }
        }
    }
} //.content-character-box
.main-character {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: auto;
    padding: 30px 20px;
    overflow-y: auto;
    @include breakpoint(mobile) {
        width: 100%;
        height: calc(100vh - 366px);
        margin: 0;
        margin-top: 300px;
        background: rgba(0, 0, 0, 0.6);
    }

    &-title {
        padding: 30px 0;
        color: #fff;
        font-weight: 900;
        font-size: 42px;
        @include breakpoint(mobile) {
            padding: 15px 0;
            font-size: 35px;
        }
    } //.main-character-title
    &-text {
        padding-bottom: 10px;
        color: #fff;
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        @include breakpoint(mobile) {
            font-size: 15px;
        }
    } //.main-character-text
    &-text2 {
        padding-bottom: 25px;
        color: #fff;
        font-size: 24px;
        line-height: 34px;
        @include breakpoint(mobile) {
            font-size: 18px;
        }
    } //.main-character-text2
    &-info {
        li {
            display: flex;
            align-items: center;
            height: 45px;
            border-bottom: 1px solid #aaa;
            @include breakpoint(mobile) {
                height: 30px;
            }
            &:first-child {
                border-top: 1px solid #aaa;
            }
        }
        .title {
            flex: none;
            width: 150px;
            color: #fff;
            font-size: 14px;
        }
        .text {
            color: #fff;
            font-size: 14px;
        }
    } //.main-character-info
}

.btn-related {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    margin-top: 40px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;

    @include breakpoint(mobile) {
        width: 140px;
        height: 38px;
    }
}

.related-layer {
    display: none;
    box-sizing: border-box;
    width: 50%;
    margin-right: 50px;
    padding: 200px 30px;
    font-size: 18px;
    line-height: 1.8em;
    white-space: pre-line;
    background: #000;
    @include position(absolute, 66px, 0, 0, null);
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        padding: 100px 20px;
        font-size: 14px;
    }
    &.on {
        display: block;
    }
    .modal-close {
        background: rgba(#666, 0.6);
    }
}
@keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}
@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

.modal-image {
    @include breakpoint(tablet) {
        width: 100%;
        img {
            width: 100%;
        }
    }
    @include breakpoint(mobile) {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.icon-planet{
    position: relative;
    width: 100%;
    height: 240px;
    img{
        @include position(absolute,50%,null,null,50%);
        transform: translate(-50%,-50%);
    }
}
