@import "../common/variables";
@import "../common/mixin";

.content-modal {
  z-index: 110;
  display: none;
  background: #000;
  @include position(fixed, 0, 0, 0, 0);
  &.on {
    display: block;
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 80px;
    padding: 20px 20px 0;
    color: #fff;
    font-size: 20px;
    background: #000;
    @include breakpoint(mobile) {
      height: 60px;
      padding: 10px 20px 0;
    }
  } //.content-modal-title
  &-box {
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 80px);
    margin: 0 auto;
    margin-bottom: 100px;
    overflow-y: auto;
    @include breakpoint(tablet) {
      padding: 0 20px;
    }
    @include breakpoint(mobile) {
      height: calc(100% - 60px);
      padding: 0 20px;
    }
    .title {
      max-width: 614px;
      margin: 0 auto;
      padding: 100px 0 40px;
      color: #fff;
      font-size: 30px;
      @include breakpoint(tablet) {
        padding: 50px 0 20px;
        font-size: 24px;
      }
      @include breakpoint(mobile) {
        padding: 20px 0 10px;
        font-size: 20px;
      }
    }
  } //.content-modal-box
  &-text {
    position: relative;
    max-width: 614px;
    margin: 0 auto;
    padding-bottom: 60px;
    color: #fff;
    color: #fff;
    font-size: 20px;
    line-height: 2;
    white-space: pre-line;
    word-break: keep-all;
    @include breakpoint(tablet) {
      font-size: 16px;
    }
    @include breakpoint(mobile) {
      font-size: 14px;
    }
  } //.content-modal-text
}

.modal-close {
  @include position(absolute, 18px, 25px, null, null);
  width: 35px;
  height: 35px;
  @include breakpoint(mobile) {
    top: 15px !important;
    right: 15px !important;
    .modal-image & {
      top: auto !important;
      right: auto !important;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &::before,
  &::after {
    z-index: 1;
    width: 35px;
    height: 2px;
    background: #fff;
    content: "";
  }
  &::before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
  }
  &::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
  }
}

.content-character {
  &-box {
    display: flex;
    height: 100%;
    background: url("@/assets/image/region1/bg_color.png") no-repeat center;
    background-size: cover;
    overflow-y: auto;
    &::before {
      z-index: 3;
      background: #000;
      content: "";
      clip-path: polygon(0 0, 20% 0, 44% 100%, 0% 100%);
      @include position(absolute, 0, 0, 0, 0);
      @include breakpoint(mobile) {
        display: none;
      }
    }
    &::after {
      z-index: 5;
      background: url("@/assets/image/region1/bg_char_v2.png") no-repeat center
        bottom;
      background-size: contain;
      content: "";
      @include position(absolute, 0, 50%, 0, 0);
      @at-root .on.content-modal & {
        animation: zoomin 2s linear;
        animation-fill-mode: forwards;
        @include breakpoint(mobile) {
          background-color: #000;
          clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 50%);
          right: 0;
          background-position: center top;
          background-size: auto 440px;
          animation: none;
        }
      }
    }
  }
} //.content-character-box
.content-character-box.v2::after {
  background-image: url("@/assets/image/region1/bg_char2_v2.png");
}
.content-character-box.v3::after {
  background-image: url("@/assets/image/region1/bg_char3.png");
}
.content-character-box.v4::after {
  background-image: url("@/assets/image/region1/bg_char4.png");
}
.content-character-box.v5::after {
  background-image: url("@/assets/image/region1/bg_char5.png");
}
.content-character-box.v6::after {
  background-image: url("@/assets/image/region1/bg_char6.png");
}
.content-character-box.v7::after {
  background-image: url("@/assets/image/region1/bg_char7.png");
}
.content-character-box.v8::after {
  background-image: url("@/assets/image/region1/bg_char8.png");
}
.content-character-box.v9::after {
  background-image: url("@/assets/image/region1/bg_char9.png");
}
.content-character-box.v10::after {
  background-image: url("@/assets/image/region1/bg_char10.png");
}
.main-character {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 48%;
  //margin-top: 100px;
  margin-left: auto;
  padding: 30px 80px 30px 20px;
  @include breakpoint(tablet){
    padding: 30px 20px;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: calc(100vh - 300px);
    margin: 0;
    margin-top: 260px;
    padding: 0 40px 10px;
    text-align: center;
  }

  &-title {
    width: 100%;
    padding: 30px 0;
    color: #fff;
    font-weight: 900;
    font-size: 42px;
    img {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      font-size: 35px;
    }
  } //.main-character-title
  &-text {
    padding-bottom: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    @include breakpoint(mobile) {
      font-size: 15px;
    }
  } //.main-character-text
  &-text2 {
    padding-bottom: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    @include breakpoint(mobile) {
      font-size: 18px;
    }
  } //.main-character-text2
  &-info {
    max-width: 410px;
    @include breakpoint(mobile) {
      max-width: none;
    }
    li {
      display: flex;
      align-items: center;
      height: 45px;
      border-bottom: 1px solid #fff;
      @include breakpoint(mobile) {
        min-height: 30px;
      }
    }
    .title {
      position: relative;
      display: flex;
      flex: none;
      align-items: center;
      width: 60px;
      color: #fff;
      font-size: 18px;
      line-height: 22px;
      &::after {
        position: absolute;
        right: 0;
        width: 1px;
        height: 30px;
        background: #fff;
        content: "";
      }
    }
    .text {
      padding-left: 20px;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
    }
  } //.main-character-info
}

.btn-related {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 50px;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #fff;

  @include breakpoint(mobile) {
    width: 140px;
    height: 38px;
    margin-bottom: 20px;
  }
}

.related-layer {
  z-index: 15;
  display: none;
  box-sizing: border-box;
  width: 50%;
  padding: 100px 80px 30px 50px;
  overflow-y: auto;
  color: #fff;
  font-size: 18px;
  line-height: 2em;
  white-space: pre-line;
  background: #000;
  @include position(absolute, 0, 0, 0, null);
  @include breakpoint(mobile) {
    width: 100%;
    margin: 0;
    padding: 100px 20px;
    font-size: 14px;
  }
  .title {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 24px;
  }
  &.on {
    display: block;
  }
}
@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

.modal-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: auto;
  }
  @include breakpoint(tablet) {
    bg {
      width: 100%;
    }
  }
  @include breakpoint(mobile) {
    bg {
      width: 100%;
    }
  }
  &-box {
    width: 100%;
    height: 100%;
  }
}

.icon-planet {
  position: relative;
  width: 100%;
  height: 240px;
  img {
    @include position(absolute, 50%, null, null, 50%);
    transform: translate(-50%, -50%);
  }
}
.content-modal-list {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  &.on {
    display: block;
  }
  .footer {
    margin-top: auto;
    @include breakpoint(tablet) {
      margin-top: 40px;
    }
  }
  .content-modal-box {
    display: flex;
    flex-direction: column;
  }
}
.content-list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 14px;
  img {
    width: 100%;
    height: 100%;
  }
  @include breakpoint(mobile) {
    width: 140px;
  }
}
.content-toon-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: $content-width;
  height: calc(100% - 350px);
  margin: 0 auto;
  @include breakpoint(mobile) {
    flex-direction: column;
    height: auto;
  }
  li {
    display: flex;
    flex: 1;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: block;
      flex: none;
      margin: 0 20px;
      margin-bottom: 30px;
      padding-top: 160%;
    }
  }
}
.content-image {
  &-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(#000, 0.7);
    &.on {
      display: flex;
    }
    @include breakpoint(mobile) {
      background: #000;
    }

    .modal-close {
      @include breakpoint(mobile) {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 40px;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: translateX(-50%);
      }
    }
    &.v2 {
      @include breakpoint(mobile) {
        //background: url("@/assets/image/region2/modalWorldView/bg.png")
        //  no-repeat center;
      }
    }
  }
  &-box {
    //position: relative;
    max-width: 1536px;
    overflow-y: hidden;
    overflow-y: hidden;
    img {
      width: 100%;
      max-width: 100%;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      text-align: center;
      transform: translateY(-101px);
      @at-root .v2#{&} {
        color: #fff;
      }
      @include breakpoint(tablet) {
        font-size: 20px;
        transform: translateY(-60px);
      }
      @include breakpoint(mobile) {
        margin-top: 40px;
        font-size: 20px;
        line-height: 2em;
        transform: none;
      }
    }
    .swiper-button-prev {
      left: 30px;
      width: 100px;
      height: 60px;
      color: transparent;
      background: url("@/assets/image/region3/modalWorldView/prev.png")
        no-repeat center;
      @include breakpoint(mobile) {
        position: fixed;
        top: auto;
        bottom: 20px;
        left: 50%;
        margin-left: -150px;
      }
      @at-root .v2#{&} {
        @include breakpoint(mobile) {
          margin-left: -175px;
        }
      }
    }
    &.v2 .swiper-button-prev {
      width: 130px;
      height: 80px;
      background: url("@/assets/image/region2/modalWorldView/prev.png")
        no-repeat center;
    }
    .swiper-button-next {
      right: 30px;
      width: 100px;
      height: 60px;
      color: transparent;
      background: url("@/assets/image/region3/modalWorldView/next.png")
        no-repeat center;
      @include breakpoint(mobile) {
        position: fixed;
        top: auto;
        bottom: 30px;
        left: 50%;
        margin-left: 48px;
      }
      @at-root .v2#{&} {
        @include breakpoint(mobile) {
          bottom: 15px;
        }
      }
    }
    &.v2 .swiper-button-next {
      width: 130px;
      height: 80px;
      background: url("@/assets/image/region2/modalWorldView/next.png")
        no-repeat center;
    }
  }
}
