@import "../common/variables";
@import "../common/mixin";

$content-width: 1060px;
.region {
    &-wrap {
        color: #fff;
    } //.region-wrap
    &-main {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: calc(100vh - $header-height);
        @include breakpoint(mobile) {
            height: calc(100vh - $header-height-mo);
        }
        &-title {
            @include position(absolute, null, 0, -60px, 0);
            z-index: 10;
            color: #fff;
            font-weight: bold;
            font-size: 120px;
            line-height: 1;
            text-align: center;
            text-shadow: #000 6px 5px;
            @include breakpoint(tablet) {
                bottom: 20px;
                font-size: 40px;
            }
            @include breakpoint(mobile) {
                bottom: 12px;
                font-size: 24px;
            }
        } //.region-main-title
        &-text {
            max-width: $content-width;
            margin: 100px auto;
            font-size: 20px;
            @include breakpoint(tablet) {
                margin: 40px auto;
                padding: 0 20px;
                font-size: 16px;
            }
            @include breakpoint(mobile) {
                margin: 20px auto;
                padding: 0 20px;
                font-size: 14px;
            }
        } //.region-main-text
    }
    &-content {
        &-title {
            margin: 0 0 20px;
            text-align: center;
        } //.region-content-title
        &-image {
            max-width: $content-width;
            height: 700px;
            margin: 0 auto;
            background: rgba(255, 0, 0, 0.3);
            @include breakpoint(mobile) {
                width: 100%;
                max-width: none;
                height: 400px;
            }
        } //.region-content-image
        &-text {
            max-width: $content-width;
            margin: 20px auto;
            color: #fff;
            font-size: 20px;
            @include breakpoint(tablet) {
                padding: 0 20px;
                font-size: 16px;
            }
            @include breakpoint(mobile) {
                padding: 0 20px;
                font-size: 14px;
            }
        } //.region-content-text
    }
    &-content-more {
        margin-top: 100px;
        &-title {
            margin-bottom: 20px;
            color: #fff;
            font-size: 30px;
            text-align: center;
            @include breakpoint(tablet) {
                font-size: 20px;
            }
            @include breakpoint(mobile) {
                font-size: 18px;
            }
        } //.region-content-more-title
    } //.region-content-more
}
.content-image {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $content-width;
        margin: 0 auto;
    } //.content-image-list
    &-item {
        width: 100%;

        margin-bottom: 20px;
        @at-root .col2 & {
            width: calc(50% - 10px);
            margin: 0 0 20px;
            &:nth-child(odd) {
                margin-right: 10px;
            }
            &:nth-child(even) {
                margin-left: 10px;
            }
            @include breakpoint(mobile) {
                width: 100%;
                margin: 0 0 20px !important;
            }
        }
        .image {
            height: 340px;
            background: rgba(255, 0, 0, 0.3);
        }
    } //.content-image-item
}
.region1 {
    background: url("@/assets/image/bg_region.png") no-repeat center;
    background-size: cover;
}
.region2 {
    background: url("@/assets/image/bg_region3.png") no-repeat center;
    background-size: cover;
}

.region3 {
    background: url("@/assets/image/bg_region2.png") no-repeat center;
    background-size: cover;
}

.region-character {
    max-width: $content-width;
    margin: 0 auto 40px;
    &-title {
        margin: 0 0 20px;
        @include breakpoint(tablet) {
            padding: 0 10px;
        }
        @include breakpoint(mobile) {
            padding: 0 40px;
        }
    } //.region-character-title
} //.region-character
.region-card {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        @include breakpoint(tablet) {
            margin: 0;
        }
    } //.region-card-list
    &-item {
        box-sizing: border-box;
        width: 25%;
        padding: 0 10px;
        @include breakpoint(tablet) {
            width: 50%;
            padding: 0 10px 10px;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin: 0 40px 20px;
        }
        .image {
            position: relative;
            display: block;
            width: 100%;
            height: 420px;
            background: #aaa url("@/assets/image/bg_person.png") no-repeat
                center top;
            background-size: cover;
            cursor: pointer;
            @include breakpoint(tablet) {
                height: 400px;
            }
            @include breakpoint(mobile) {
                height: 320px;
            }
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background-color: #00d200;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: 0%;
                transform-origin: 0%;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                content: "";
            }

            &:hover:before {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }
        }
    } //.region-card-item
}
