@import "variables";
@import "mixin";

.galaxy-header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    max-width: $header-width;
    height: $header-height;
    background: #000;
    @include breakpoint(mobile) {
        height: $header-height-mo;
    }
    &-logo {
        @include breakpoint(tablet) {
            width: 180px;
            svg {
                width: 100%;
            }
        }
        @include breakpoint(mobile) {
            width: 100px;
            svg {
                width: 100%;
            }
        }
    }
    &-list {
        display: flex;
        flex: 1;
        align-items: center;
        @include breakpoint(mobile) {
            display: none;
        }
    }
    &-item {
        a {
            padding: 10px 20px;
            color: #fff;
            font-size: 20px;
            @include breakpoint(tablet) {
                font-size: 16px;
            }
        }
    }
    .download-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin: 0 20px;
        padding: 0 10px;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        background-color: #00d200;
        border-radius: 15px;
        @include breakpoint(mobile) {
            height: 20px;
            margin: 0 10px;
            font-size: 12px;
            border-radius: 10px;
        }
    }
}
//모바일에서만 노출되는 menu-layer
.menu-layer {
    &-box {
        z-index: 100;
        display: none;
        flex-direction: column;
        background: #000;
        @include position(fixed, 0, 0, 0, 0);
        &.on {
            display: flex;
        }
    } //.menu-layer-box
    &-list {
        padding: 100px 32px 0;
    } //.menu-layer-list
    &-item {
        margin-bottom: 40px;
    } //.menu-layer-item
    &-link {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    } //.menu-layer-link
}

.icon-menu {
    display: none;
    @include position(absolute, 10px, 18px, null, null);
    @include breakpoint(mobile) {
        display: block;
    }
}
.icon-close {
    @include position(absolute, 20px, 20px, null, null);
}
